<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>REST API</h1>
    <p>
        REST API or API's in general is just a way of communication from one system to another.
        This takes place in JSON format. There are few rules to follow when creating them. It must be one of CRUD operations
    </p>
</body>
</html>